/*Encabezado*/
.bg-bkl{
	background-color: black;
	opacity: 0.8;
	width: 1340px;
	margin-left: -9%;
}
.top{
	height: 70px;
}
/*Listas de Menú y sociales*/
.mn-lg{
	margin-left: 45%;
}
li{
	display: inline-block;
	margin-left: 2%;
}
button{
	width: 30%;
	height: 35px;
	margin: 10% 35%;
	border-radius: 10px;
}
/*Píe*/
footer{
	height: 450px;

}
.mini-icon{

}
/*Decoration*/
a{
	text-decoration: none;
}
hr{
	width: 80%;
	height: 1px;
	margin: 2% 9%;
}