/*Medida de imágen articulo*/
.mediano{
	width: 650px;
	height: 600px;
	margin-left: -10%;
}
/*Imágenes portafolio*/
.estandar{
	width: 570px;
	height: 450px;
	margin-left: -10%;
}
/*Texto rojo*/
.crl-rd{
	color: red;
}
/*Iconos media*/
.icono{
	height: 12px;
	width: 12px;
	display: inline-block;	
}
.mini-icon{
	height: 30px;
	width: 30px;
	border-radius: 100%;
	border: 1px white dashed;
}
.big{
	width: 70px;
	height: 70px;
}
.comillas{
	margin-left: 5%;
}